Package: evdisk
Version: VERSION
Section: contrib/admin
Priority: optional
Architecture: all
Depends: cryptsetup-bin (>= 2:2.1.0), mount (>= 2.33.1), gpg (>= 2.2.12), gpgconf (>= 2.2.12), sudo (>=1.8.27), util-linux (>= 2.33.1), coreutils (>= 8.30), default-jdk, mlocate (>= 0.26), psmisc (>= 23.2)
Recommends: exfat-fuse, exfat-utils
Maintainer: Bill Zaumen <bill.zaumen+software@gmail.com>
Description:Utility that provides an encrypted virtual disk
 containing an ext4 file system. This virtual disk is
 represented by a target directory containing three files:
 the file key.gpg, which contains a GPG encrypted LUKS key,
 the file encrypted, which contains the encrypted file
 system, and a directory named root, which serves as a
 mount point. Typically the target directory will be on
 a flash drive. For virtual file systems whose encrypted
 file would exceed the limits set by a FAT32 or VFAT file
 system, a flash drive should contain an ext4 or an exfat
 files ystem, neither of which hava a 4 Gbyte limit on file
 sizes. The evdisk program is intended for cases in
 which a virtual file system is mounted temporarily
 (e.g., to provide an encrypted backup that can be
 safely carried around because reading the key requires
 the right GPG keyring, which is stored separately).
